<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" src="../assets/images/Fidelitas_Favicon.png" type="image/x-icon">
    <title>Home</title>
    <link href="../Assets/CSS/default.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </nav>
        <img src="../Assets/Images/cart.png">
    </div>
    <div>
        <img src="../Assets/Images/logo.png">
        <H3>This is the demo E-Comers page, that was created as a fallow along during class. </H3>
    </div>
    <footer></footer>
</div>
</body>
</html>
